<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="km-spacer"></span>
    <ng-container *ngIf="!user.uid">
      <button mat-raised-button color="accent" (click)="login()">
        <mat-icon aria-hidden="false">face</mat-icon>
        Login
      </button>
    </ng-container>
    <ng-container *ngIf="user.uid">
      <div>
        Hola, {{ user.displayName }} &nbsp;
      </div>
      <button mat-raised-button color="light" [routerLink]="['/products/create-product']">
        <mat-icon aria-hidden="false">add</mat-icon>
        Agregar
      </button>
      <button mat-button color="accent" (click)="logout()">
        Logout
      </button>  
    </ng-container>
    
  </mat-toolbar-row>
</mat-toolbar>
<div class="km-container">
  <router-outlet></router-outlet>
</div>
